module.exports = {
    worldtravellen: {
        url: 'https://worldtravellen.com/',
        selector: 'section #polaroid div',
        filePath: 'posts_worldtravellen.json',
    },
    // Add more websites here
    // example: { example: { url: 'https://example.com/', selector: '.example-selector', filePath: 'posts_example.json' } }
};
